* {
  font-size: 14px;
}

h1 {
  font-size: 25px;
}
h2 {
  font-size: 20px;
}

.img1 {
  padding: 13px 13px 2px 13px;
  height: 35%;
}

.img > p {
  padding-top: 1px;
  margin-top: 0px;
}

.center {
  margin: auto;
  width: 50%;
  border: 2px solid rgb(8, 8, 8);
  padding: 3px;
}
img {
  width: 65%;
}

ul {
  margin: 0px 0px 0px -28px;
}
