body {
    margin: 30px 0px;
}
.progress {
    margin:0 auto;
    position: relative;
    width:240px;
	height: 25px;
}
.progress > .progress-type {
	position: absolute;
	left: 0px;
	font-weight: 900;
	padding: 4px 30px 3px 10px;
	color: rgb(255, 255, 255);
	background-color: rgba(25, 25, 25, 0.2);
}
.progress > .progress-completed {
    color: rgb(12, 12, 12);
	position: absolute;
	right: 20px;
	font-weight: 800;
	padding: 3px 10px 2px;
}