body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  background-color: lightskyblue;
}

#app {
  margin: auto;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  width: 200px;
  margin: 20px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 200px;
}

#red {
  background-color: red;
  color: black;
}
#blue {
  background-color: blue;
  color: black;
}
#green {
  background-color: green;
  color: black;
}
