.Box1 {
  font-size: 50px;
  height: 200px;
  width: 200px;
  background-color: orange;
  border: 5px dashed azure;
}
.Box2 {
  text-align: center;
  font-size: 30px;
  width: 200px;
  height: 200px;
  background-color: olive;
  border: 5px solid lightgreen;
  border-top: dashed lightgreen;
  border-bottom: dashed lightgreen;
  border-radius: 100%;
}
.Box3 {
  width: 250px;
  height: 150px;
  border-radius: 50%;
  background-color: blue;
  border: 5px solid black;
  font-size: 40px;
  text-align: center;
}
